body {
  background-image: url(images/sally.jpg);
  background-size:"cover";
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


header {
  background-image: linear-gradient(blue,green);
  opacity: 50%;
  color: white;
  padding: 2rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: antiquewhite;
  text-decoration: wavy;
  text-shadow: 4px;
}

section{
  color: rgb(61, 22, 22);
  padding: 2rem;
}
#projects{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  
}


.flip-card {
  background-color: #fff;
  border: 1px;
  border-radius: 20px;
  width: 200px;
  height:   200px;
  perspective: 1000px;
  display: block;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front {
  background-color: transparent;
  color: black;
  border-radius: 25px;
}

.flip-card-back {
  background-color: #bbb;
  color:rgb(48, 35, 35);
  transform: rotateY(180deg);

}

footer {
  background-color: #cec0c0;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;


